.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin-bottom: 16px;
  pointer-events: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.App-header {
  /* background-color:rgb(240, 246, 250); */
  background-image: linear-gradient(90deg,#513eff 0%,#52e5ff 100%);
  /* background:url('https://ens.domains/static/statsBG-5c16fca8ce7a69655753c5ab0db76ae4.jpg'); */
  /* min-height: 100vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  margin: 2em;
}

.App-link {
  color: #61dafb;
  margin-top: 10px;
}

input {
  width:23em;
  padding: 5px;
  font-size:inherit;
  border-radius: 6px;
  border: white;
}

button{
  color: black;
  background: white;
  border: 0;
  font-size: large;
  border-radius: 10px;
  height:2em;
  margin-left:1em;
  vertical-align:'middle';
}
ul {
  list-style-type: none;
}